USE [master]
GO
/****** Object:  Database [QLChiTieu]    Script Date: 12/27/2018 4:35:55 PM ******/
CREATE DATABASE [QLChiTieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLChiTieu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLChiTieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLChiTieu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLChiTieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLChiTieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLChiTieu]
GO
/****** Object:  Table [dbo].[HEO]    Script Date: 12/27/2018 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MUC_DICH] [nvarchar](150) NOT NULL,
	[MUC_TIEU] [int] NOT NULL,
	[HIEN_TAI] [int] NOT NULL,
	[NGAY_KT] [date] NOT NULL,
	[ID_USER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhom]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](20) NOT NULL,
	[LOAI] [nvarchar](20) NOT NULL,
	[ICON] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_GIAO_DICH]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_GIAO_DICH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VI] [int] NOT NULL,
	[NHOM] [int] NOT NULL,
	[SO_TIEN] [int] NOT NULL,
	[GHI_CHU] [nvarchar](150) NULL,
	[NGAY] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_NO]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_NO](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[ID_GIAO_DICH] [int] NOT NULL,
	[LOAI] [nvarchar](20) NOT NULL,
	[PERSON] [nvarchar](25) NOT NULL,
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_SN] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[ID_GIAO_DICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_GIAO_DICH]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_GIAO_DICH](
	[ID_GIAO_DICH] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_USERGD] PRIMARY KEY CLUSTERED 
(
	[ID_GIAO_DICH] ASC,
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_VI]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_VI](
	[ID_USER] [int] NOT NULL,
	[ID_VI] [int] NOT NULL,
 CONSTRAINT [PK_USERVI] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_VI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PWHash] [binary](64) NOT NULL,
	[Ngay_Sinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vi]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[SO_TIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HEO]  WITH CHECK ADD  CONSTRAINT [FK_HEO_Users] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[HEO] CHECK CONSTRAINT [FK_HEO_Users]
GO
ALTER TABLE [dbo].[SO_GIAO_DICH]  WITH CHECK ADD  CONSTRAINT [FK_SOGD_NHOM] FOREIGN KEY([NHOM])
REFERENCES [dbo].[Nhom] ([ID])
GO
ALTER TABLE [dbo].[SO_GIAO_DICH] CHECK CONSTRAINT [FK_SOGD_NHOM]
GO
ALTER TABLE [dbo].[SO_GIAO_DICH]  WITH CHECK ADD  CONSTRAINT [FK_SOGD_VI] FOREIGN KEY([ID_VI])
REFERENCES [dbo].[Vi] ([ID])
GO
ALTER TABLE [dbo].[SO_GIAO_DICH] CHECK CONSTRAINT [FK_SOGD_VI]
GO
ALTER TABLE [dbo].[SO_NO]  WITH CHECK ADD  CONSTRAINT [FK_SO_NO_GIAO_DICH] FOREIGN KEY([ID_GIAO_DICH])
REFERENCES [dbo].[SO_GIAO_DICH] ([ID])
GO
ALTER TABLE [dbo].[SO_NO] CHECK CONSTRAINT [FK_SO_NO_GIAO_DICH]
GO
ALTER TABLE [dbo].[USER_GIAO_DICH]  WITH CHECK ADD  CONSTRAINT [FK_USERGD_GIAO_DICH] FOREIGN KEY([ID_GIAO_DICH])
REFERENCES [dbo].[SO_GIAO_DICH] ([ID])
GO
ALTER TABLE [dbo].[USER_GIAO_DICH] CHECK CONSTRAINT [FK_USERGD_GIAO_DICH]
GO
ALTER TABLE [dbo].[USER_GIAO_DICH]  WITH CHECK ADD  CONSTRAINT [FK_USERGD_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[USER_GIAO_DICH] CHECK CONSTRAINT [FK_USERGD_USERS]
GO
ALTER TABLE [dbo].[USER_VI]  WITH CHECK ADD  CONSTRAINT [FK_USER_VI_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[USER_VI] CHECK CONSTRAINT [FK_USER_VI_USER]
GO
ALTER TABLE [dbo].[USER_VI]  WITH CHECK ADD  CONSTRAINT [FK_USER_VI_VI] FOREIGN KEY([ID_VI])
REFERENCES [dbo].[Vi] ([ID])
GO
ALTER TABLE [dbo].[USER_VI] CHECK CONSTRAINT [FK_USER_VI_VI]
GO
/****** Object:  StoredProcedure [dbo].[uspAddUser]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspAddUser]
    @pEmail VARCHAR(50), 
    @pPassword NVARCHAR(50), 
    @pTen NVARCHAR(50) = NULL,
	@pDob date = NULL,
    @responseMessage NVARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    BEGIN TRY

        INSERT INTO dbo.[Users] (Ten, Email, PWHash, Ngay_Sinh)
        VALUES(@pTen, @pEmail , HASHBYTES('SHA2_512', @pPassword), @pDob)

        SET @responseMessage='Success'

    END TRY
    BEGIN CATCH
        SET @responseMessage=ERROR_MESSAGE() 
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[uspLogin]    Script Date: 12/27/2018 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspLogin]
    @pEmail VARCHAR(50),
    @pPassword NVARCHAR(50),
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN

    SET NOCOUNT ON

    DECLARE @userID INT

    IF EXISTS (SELECT TOP 1 ID FROM [dbo].[Users] WHERE Email=@pEmail)
    BEGIN
        SET @userID=(SELECT ID FROM [dbo].[Users] WHERE Email=@pEmail AND PWHash=HASHBYTES('SHA2_512', @pPassword))

       IF(@userID IS NULL)
           SET @responseMessage='Incorrect password'
       ELSE 
           SET @responseMessage='User successfully logged in'
    END
    ELSE
       SET @responseMessage='Invalid login'

END
GO
USE [master]
GO
