<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings>
  <!--TQuang Data Source=LAPTOP-GMA6DNPM\SQLEXPRESS;Initial Catalog=QLChiTieu;Integrated Security=True -->
  <!--<add name="QLChiTieuEntities" connectionString="metadata=res://*/Model.QLChiTieu.csdl|res://*/Model.QLChiTieu.ssdl|res://*/Model.QLChiTieu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-GMA6DNPM\SQLEXPRESS;;initial catalog=QLChiTieu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--
  <add name="QLChiTieuEntities" connectionString="metadata=res://*/Model.QLChiTieu.csdl|res://*/Model.QLChiTieu.ssdl|res://*/Model.QLChiTieu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JQBOKMN;initial catalog=QLChiTieu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
<add name="QLChiTieuEntities" connectionString="metadata=res://*/Model.QLChiTieu.csdl|res://*/Model.QLChiTieu.ssdl|res://*/Model.QLChiTieu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLChiTieu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>