$font-stack :"Lucida Grande", Helvetica, sans-serif;
$primary-link-color: #e67e22;
body {
  padding: 50px;
  font: 14px $font-stack;
  a {
    color: $primary-link-color;
  }
  ul {
    list-style-type: none;
    .checked {
      span {
        text-decoration: line-through;
      }
    }
  }
}